google-cloud-vision
psycopg2-binary
python-dotenv
Pillow
rich
questionary
pytest
pytest-mock
openai
rapidfuzz
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-telegram-bot
pydub
psutil
pypdf
pdf2image
SQLAlchemy